* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 14px;
}

html {
	width: 100%;
	min-width: 320px;
	background: #eee;
	background: radial-gradient(circle, #fff 20%, #ccc); /* BG gradient */
	background-size: cover;
}

h1 {
	font-size: 16px;
	font-weight: 600;
}

h2 {
	font-size: 16px;
}

.disabled {
	opacity: 0.5;
}

#calculator {
	width: 96%;
	max-width: 640px;
	
	margin: 50px auto;
	
	background: #bbb;
	background: linear-gradient(#ccc, #aaa);
	border-radius: 4px;
	border: 1px solid #999;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

hr {
	border: 0;
	height: 2px;
	background: linear-gradient(rgba(0,0,0,0.25), rgba(255,255,255,0.5));
}

table {
	width: 90%;
	margin: 5%;
	border-collapse: collapse;
}

td { 
	padding: 1.5%;
}

.tight {
	padding-bottom: 0;
}

input {
	padding: 4px 12px !important;
	color: #111;
	border-radius: 4px;
	border: 1px solid #999;
	cursor: pointer;
}

.time {
	width: 33% !important;
}

input[type=number] {
	/* HTML5 input type "number" tells mobile browsers to bring up numeric keyboard for input (moz defaults to reg text input) */
	background: linear-gradient(#ddd, #fff);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) inset;
	width: 100%;
}

input[type=submit] {
	margin-right: 10px;
	background: linear-gradient(#ddd, #b0b0b0);
}

select {
	/* prefixfree js doesn't handle everything */
	-webkit-appearance: none; /* Opera reads some webkit prefixes (ugh) */
	/* start moz hack (gets rid of default arrow graphic on dropdown) update: this stopped working in Firefox 30+ */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* end moz hack */

	padding: 4px 12px !important;
	background: linear-gradient(#ddd, #b0b0b0);
	color: #111;
	border-radius: 4px;
	border: 1px solid #999;
	cursor: pointer;
}
